<!-- About-->
<section class="section bg-light" id="about">
    <div class="container">
        <div class="grid">
            <div class="col-12">
                <div class="card">
                    <p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"
                        position="top-center"></p-toast>
                    <p-toolbar styleClass="mb-4">
                        <ng-template pTemplate="left">
                            <div class="my-2">
                                <button pButton pRipple label="Nuevo" title="Nuevo" icon="pi pi-plus"
                                    class="p-button-rounded p-button-info mr-2" (click)="openNew()"></button>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="right">
                            <button pButton pRipple label="Exportar" title="Exportar" icon="pi pi-file-excel"
                                class="p-button-rounded p-button-success" (click)="dt.exportCSV()"></button>
                        </ng-template>
                    </p-toolbar>

                    <p-table #dt [value]="entities" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                        [globalFilterFields]="['id','nombre','lanzamiento']" [rows]="10" [paginator]="true"
                        [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                        currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
                        selectionMode="multiple" [rowHover]="true">
                        <ng-template pTemplate="caption">
                            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                                <h5 class="m-0">Maestro de {{entityTitle}}</h5>
                                <span class="block mt-2 md:mt-0 p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text"
                                        (input)="dt.filterGlobal($event.target.value, 'contains')"
                                        placeholder="Buscar..." />
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="id">Id <p-sortIcon field="id">
                                    </p-sortIcon>
                                </th>
                                <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre">
                                    </p-sortIcon>
                                </th>
                                <th>Cover</th>
                                <th pSortableColumn="lanzamiento">Lanzamiento <p-sortIcon field="lanzamiento">
                                    </p-sortIcon>
                                </th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr>
                                <td style="width:15%; min-width:10rem;">
                                    <span class="p-column-title">Id</span>
                                    {{item.id}}
                                </td>
                                <td style="width:30%; min-width:10rem;">
                                    <span class="p-column-title">Nombre</span>
                                    {{item.nombre}}
                                </td>
                                <td style="width:30%; min-width:10rem;">
                                    <span class="p-column-title">Nombre Real</span>
                                    {{item.nombreReal}}
                                </td>
                                <td style="width:10%; min-width:10rem;">
                                    <span class="p-column-title">Pais</span>
                                    {{item.pais}}
                                </td>
                                <td>
                                    <div class="flex">
                                        <button pButton pRipple title="Editar" icon="pi pi-pencil"
                                            class="p-button-rounded p-button-info mr-2"
                                            (click)="editEntity(item)"></button>
                                        <button pButton pRipple title="Eliminar" icon="pi pi-trash"
                                            class="p-button-rounded p-button-danger"
                                            (click)="deleteEntity(item)"></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>

                <p-dialog [(visible)]="entityDialog" [style]="{width: '450px'}" header="Detalle de {{entityTitle}}"
                    [modal]="true" class="p-fluid">
                    <ng-template pTemplate="content">
                        <div class="field">
                            <label for="nombre">Nombre</label>
                            <input type="text" pInputText id="nombre" [(ngModel)]="entity.nombre" required
                                [ngClass]="{'ng-invalid ng-dirty' : submitted && !entity.nombre}" />
                            <small class="p-error block" *ngIf="submitted && !entity.nombre">Nombre es
                                requerido.</small>
                        </div>
                        <div class="field">
                            <label for="nombreReal">Nombre Real</label>
                            <input type="text" pInputText id="nombreReal" [(ngModel)]="entity.nombreReal" required
                                [ngClass]="{'ng-invalid ng-dirty' : submitted && !entity.nombreReal}" />
                            <small class="p-error block" *ngIf="submitted && !entity.nombreReal">Nombre Real es
                                requerido.</small>
                        </div>
                        <div class="field">
                            <label for="pais">Pais</label>
                            <input type="text" pInputText id="pais" [(ngModel)]="entity.pais"
                                [maxlength]="50" required
                                [ngClass]="{'ng-invalid ng-dirty' : submitted && !entity.pais}" />
                            <small class="p-error block" *ngIf="submitted && !entity.pais">Pais es
                                requerido.</small>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <button pButton pRipple label="Cancelar" title="Cancelar" icon="pi pi-times"
                            class="p-button-rounded p-button-danger" (click)="hideDialog()"></button>
                        <button pButton pRipple label="Guardar" title="Guardar" icon="pi pi-check"
                            class="p-button-rounded p-button-info" (click)="saveEntity()"></button>
                    </ng-template>
                </p-dialog>

                <p-dialog [(visible)]="deleteEntityDialog" header="Confirmación" [modal]="true"
                    [style]="{width:'450px'}">
                    <div class="flex align-items-center justify-content-center">
                        <i class="pi pi-exclamation-triangle mr-3 message-icon"></i>
                        <span *ngIf="entity">Esta seguro que desea eliminar el {{entityTitle}}
                            <b>{{entity.nombre}}</b>?</span>
                    </div>
                    <ng-template pTemplate="footer">
                        <button pButton pRipple title="No" icon="pi pi-times" class="p-button-rounded p-button-danger"
                            label="No" (click)="deleteEntityDialog = false"></button>
                        <button pButton pRipple title="Si" icon="pi pi-check" class="p-button-rounded p-button-info"
                            label="Si" (click)="confirmDelete()"></button>
                    </ng-template>
                </p-dialog>
            </div>
        </div>
    </div>
</section>